<!DOCTYPE html>
<html>
    <head> 
        <!-- Задаю название страницы используя метатег и атрибут content  -->
        <meta http-equiv="Content-Type" content="text/img/html; charset=utf-8">
        <title>Terraria Wiki</title>
        <link rel="stylesheet" href="../static/style.css">
        <!-- to do: favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="../static/sources/favicon.ico">
    </head>

    <body>
        <script src="../static/extlink.js"></script>

        <header>
            <div class = "header">

                <div class="name-block">
                    <a href="/"><img src="../static/sources/logo_terka.svg"></img></a>
                    <a href="/"> <h1>Terraria Wiki</h1></a>
                    <p>все что нужно начинающему игроку</p>
                </div>
                
                <div class="search">

                </div>
                
                <div class="minu">
                    <ul class ="main-menu">
                                
                        <li><a href="/">Главная</a>
                            <ul>
                                <li><a href="/contacts">Контакты</a></li>
                                <li><a href="">Справочник определений</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="*.html">Классы</a>
                            <ul>
                                <li><a href="/warrior">Воин</a></li>
                                <li><a href="*.html">Маг</a></li>
                                <li><a href="*.html">Стрелок</a></li>
                                <li><a href="*.html">Призыватель</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="*.html">Оружие</a>
                            <ul>
                                <li><a href="*.html">Ближний бой</a></li>
                                <li><a href="*.html">Дальний бой</a></li>
                                <li><a href="*.html">Магическое</a></li>
                                <li><a href="*.html">Особое</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="*.html">Боссы</a>
                            <ul>
                                <li><a href="*.html">Начало игры</a></li>
                                <li><a href="*.html">Хардмод</a></li>
                                <li><a href="*.html">Пост-хардмод</a></li>
                                <li><a href="*.html">Опциональные</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <content>
            <div class="content-block">
                <h1>О нас:</h1>
                <p>На нашем сайте представлено несколько статей по поводу прохождения игры или прокачки персонажей, если у вас есть предложения или комментарии по поводу сайта, 
                    вы нашли орфографическую или иную ошибку, то можете написать мне на почту. 
                    <br>Также я очень буду рад вашей поддержке, если вы просто напишите пару 
                    слов мне на почту о том, какой я молодец) <h2>Главный разработчик - kplotnikov101@gmail.com</h2>
                </p>

                <div class="cont-text">
                    <h1>Санкт-Петербургский политехнический университет Петра Великого, институт среднего профессионального образования</h1>
                    <h2>Контакты:</h2>
                    <p>пр. Энгельса, д 23, 194156, Санкт-Петербург
                    <br>Приемная комиссия +7 (812) 294-06-98
                    <br>Приемная комиссия +7(921) 881-06-08
                    <br>Приемная директора +7 (812) 294-03-03
                    <br>e-mail: college@spbtu.ru
                    </p>
                </div>

                <div class="map">
                    <div>
                        <a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps"></a>
                        <iframe src="https://yandex.ru/map-widget/v1/?ll=30.330872%2C60.003280&mode=whatshere&whatshere%5Bpoint%5D=30.329138%2C60.003644&whatshere%5Bzoom%5D=17&z=17.42"></iframe>
                    </div>
                </div>
            </div>
        </content>

        <footer>
            <div class="footer">
                <p>© 2024 Плотников Кирилл Владимирович</p>
            </div>
        </footer>

    </body>

</html>
