<!DOCTYPE html>
<html>
    <head> 
        <!-- Задаю название страницы используя метатег и атрибут content  -->
        <meta http-equiv="Content-Type" content="text/img/html; charset=utf-8">
        <title>Terraria Wiki</title>
        <link rel="stylesheet" href="../static/style.css">
        <!-- to do: favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="../static/sources/favicon.ico">
    </head>

    <body>
        <script src="../static/extlink.js"></script>
        <header>
            <div class = "header">

                <div class="name-block">
                    <a href="/"><img src="../static/sources/logo_terka.svg"></img></a>
                    <a href="/"> <h1>Terraria Wiki</h1></a>
                    <p>все что нужно начинающему игроку</p>
                </div>
                
                <div class="search">

                </div>
                
                <div class="minu">
                    <ul class ="main-menu">
                                
                        <li><a href="/">Главная</a>
                            <ul>
                                <li><a href="/contacts">Контакты</a></li>
                                <li><a href="*">Справочник определений</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="">Классы</a>
                            <ul>
                                <li><a href="/warrior">Воин</a></li>
                                <li><a href="/mag">Маг</a></li>
                                <li><a href="/ranger">Стрелок</a></li>
                                <li><a href="/summoner">Призыватель</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="*.html">Оружие</a>
                            <ul>
                                <li><a href="*.html">Ближний бой</a></li>
                                <li><a href="*.html">Дальний бой</a></li>
                                <li><a href="*.html">Магическое</a></li>
                                <li><a href="*.html">Особое</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="*.html">Боссы</a>
                            <ul>
                                <li><a href="*.html">Начало игры</a></li>
                                <li><a href="*.html">Хардмод</a></li>
                                <li><a href="*.html">Пост-хардмод</a></li>
                                <li><a href="*.html">Опциональные</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </header>

        <slider>
            </sl>
                <div class="sl">
                
                    <input type="radio" name="slider2" id="slider2_1" checked="checked">
                    <label for="slider2_1"></label>
                    <div class="foto"><img src="../static/sources/art5.jpg"></div>
                    
                    <input type="radio" name="slider2" id="slider2_2">
                    <label for="slider2_2"></label>
                    <div class="foto"><img src="../static/sources/art2.jpg"></div>
                    
                    <input type="radio" name="slider2" id="slider2_3">
                    <label for="slider2_3"></label>
                    <div class="foto"><img src="../static/sources/art3.png"></div>
                </div>
            </sl>
        
        </slider>
        
        <about>
            <div class ="about">

                <h1>Зачем вообще этот сайт?</h1>
                <p>Этот сайт посвещен видеоигре <a href="https://ru.wikipedia.org/wiki/Terraria" rel="external">Terraria</a> и нужен чтобы начинающие и уже старые игроки могли узнать что-то новое или освежить знания. 
                    Здесь есть гайды по побеждению боссов, словарь слэнга игры, 
                    описание и сборки различных клссов от вониа до призывателя. 
                    <br>
                </p>

                <h1>Что это за игра такая?</h1>
                <p>Террария - это приключенческая игра с разрушаемым открытым миром и процедурной генерацией ландшафта, чем-то она схожа с Minecraft. В этой игре вы можете сражаться с боссами, 
                    строить что угодно и исследовать огромный мир полный опасностей, что делает игру более интересной и сложной, выдавая вам каждый раз новые испытания.
                </p>

                    <img src="../static/sources/bossfight.png">
                    <img src="../static/sources/building.jpg">
 
                <p>В игре доступен "режим эксперта", который повышает сложность игры, увеличивает характеристики противников и предоставляет игроку больше шансов на получение редких предметов. 
                    В обновлении Journey’s End появились два новых режима: "режим мастера" (еще более сложный) и "режим приключения" (с возможностью регулировать сложность).
                </p>

                <p>
                    В игре Terraria игрок сталкивается с разнообразными противниками в зависимости от времени суток, местоположения и случайных событий. Например, днем встречаются слизни, а ночью — зомби и демонические глаза. 
                </p>

                    <img src="../static/sources/gifka.gif">
                    <img src="../static/sources/bloodmoon.jpg">

                <p>
                    В начале игры у персонажа есть медный короткий меч для самообороны, но в дальнейшем игрок может найти или создать разнообразное оружие: мечи, луки, огнестрельное оружие, магические книги и скипетры. 
                    На поздних этапах можно выбрать определенный класс, ориентированный на ближний бой, дальний бой, магию или призыв дружественных существ. 
                    Также в игре могут происходить события, такие как "Кровавая луна", когда появляется множество врагов. Игрок также может призывать боссов для получения редких предметов, трофеев и монет.
                </p>
            </div>
        </about>

        <classes>
            <div class="classes">
                <h1>Классы персонажа</h1>

                <table>
                    <tr>
                      <td rowspan="3"><img src="../static/sources/mag.webp"></td>
                      <td>Маг</td>
                      <td rowspan="3"><img src="../static/sources/ranger.webp"></td>
                      <td>Стрелок</td>
                    </tr>
                    <tr>
                      <td>Маг - это удобный и сильный класс, что может комбинировать в себе другие, используя магию.</td>
                      <td>Стрелок - держит дистанцию и много двигается. Стреляя из делека.</td>
                    </tr>
                  </table>
        
                  <table>
                    <tr>
                      <td rowspan="3"><img src="../static/sources/summoner.png"></td>
                      <td>Призыватель</td>
                      <td rowspan="3"><img src="../static/sources/warrior.webp"></td>
                      <td>Воин</td>
                    </tr>
                    <tr>
                      <td>Призыватель - самый сложный класс, но при должной прокачке становится нереально силен и удобен. Он призывает существ ,что сражаются за него.</td>
                      <td>Воин - сильный парень с мечом, что всегда лезет в поле битвы. Простой класс, но получает много урона.</td>
                    </tr>
                  </table>
                    
            </div>
        </classes>

        <vidik>
            <div class="vidik">
                <h1>Видео с геймплеем</h1>
                <video width="1700" height="800" autoplay="autoplay" muted>
                    <source src="../static/sources/Terraria_ Journey's End.mp4">
                </video>
            </div>
        </vidik>

        <footer>
            <div class="footer">
                <p>© 2024 Плотников Кирилл Владимирович</p>
            </div>
        </footer>

    </body>

</html>
