<!DOCTYPE html>
<html>
    <head> 
        <!-- Задаю название страницы используя метатег и атрибут content  -->
        <meta http-equiv="Content-Type" content="text/img/html; charset=utf-8">
        <title>Terraria Wiki</title>
        <link rel="stylesheet" href="../static/style.css">
        <!-- to do: favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="../static/sources/favicon.ico">
    </head>

    <body>
        <script src="../static/extlink.js"></script>
        <header>
            <div class = "header">

                <div class="name-block">
                    <a href="/"><img src="../static/sources/logo_terka.svg"></img></a>
                    <a href="/"> <h1>Terraria Wiki</h1></a>
                    <p>все что нужно начинающему игроку</p>
                </div>
                
                <div class="search">

                </div>
                
                <div class="minu">
                    <ul class ="main-menu">
                                
                        <li><a href="/">Главная</a>
                            <ul>
                                <li><a href="/contacts">Контакты</a></li>
                                <li><a href="*">Справочник определений</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="*.html">Классы</a>
                            <ul>
                                <li><a href="/warrior">Воин</a></li>
                                <li><a href="/mag">Маг</a></li>
                                <li><a href="/ranger">Стрелок</a></li>
                                <li><a href="/summoner">Призыватель</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="*.html">Оружие</a>
                            <ul>
                                <li><a href="*.html">Ближний бой</a></li>
                                <li><a href="*.html">Дальний бой</a></li>
                                <li><a href="*.html">Магическое</a></li>
                                <li><a href="*.html">Особое</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="*.html">Боссы</a>
                            <ul>
                                <li><a href="*.html">Начало игры</a></li>
                                <li><a href="*.html">Хардмод</a></li>
                                <li><a href="*.html">Пост-хардмод</a></li>
                                <li><a href="*.html">Опциональные</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </header>

        <slider>
            <sl>
                <div class="sl">
                
                    <input type="radio" name="slider2" id="slider2_1" checked="checked">
                    <label for="slider2_1"></label>
                    <div class="foto"><img src="../static/sources/art5.jpg"></div>
                    
                    <input type="radio" name="slider2" id="slider2_2">
                    <label for="slider2_2"></label>
                    <div class="foto"><img src="../static/sources/art2.jpg"></div>
                    
                    <input type="radio" name="slider2" id="slider2_3">
                    <label for="slider2_3"></label>
                    <div class="foto"><img src="../static/sources/art3.png"></div>
                </div>
            </sl>
        
        </slider>
        
        <about>
            <div class ="about">

             
            </div>
        </about>


        <footer>
            <div class="footer">
                <p>© 2024 Плотников Кирилл Владимирович</p>
            </div>
        </footer>

    </body>

</html>
