<!DOCTYPE html>
<html>
    <head> 
        <!-- Задаю название страницы используя метатег и атрибут content  -->
        <meta http-equiv="Content-Type" content="text/img/html; charset=utf-8">
        <title>Воин Terraria Wiki</title>
        <link rel="stylesheet" href="../static/style.css">
        <!-- to do: favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="../static/sources/favicon.ico">
    </head>

    <body>
        <script src="../static/extlink.js"></script>
        <header>
            <div class = "header">

                <div class="name-block">
                    <a href="/"><img src="../static/sources/logo_terka.svg"></img></a>
                    <a href="/"> <h1>Terraria Wiki</h1></a>
                    <p>все что нужно начинающему игроку</p>
                </div>
                
                <div class="search">

                </div>
                
                <div class="minu">
                    <ul class ="main-menu">
                                
                        <li><a href="/">Главная</a>
                            <ul>
                                <li><a href="/contacts">Контакты</a></li>
                                <li><a href="*">Справочник определений</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="*.html">Классы</a>
                            <ul>
                                <li><a href="/warrior">Воин</a></li>
                                <li><a href="/mag">Маг</a></li>
                                <li><a href="/ranger">Стрелок</a></li>
                                <li><a href="/summoner">Призыватель</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="*.html">Оружие</a>
                            <ul>
                                <li><a href="*.html">Ближний бой</a></li>
                                <li><a href="*.html">Дальний бой</a></li>
                                <li><a href="*.html">Магическое</a></li>
                                <li><a href="*.html">Особое</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="*.html">Боссы</a>
                            <ul>
                                <li><a href="*.html">Начало игры</a></li>
                                <li><a href="*.html">Хардмод</a></li>
                                <li><a href="*.html">Пост-хардмод</a></li>
                                <li><a href="*.html">Опциональные</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </header>

        <slider>
            <sl>
                <div class="sl">
                
                    <input type="radio" name="slider2" id="slider2_1" checked="checked">
                    <label for="slider2_1"></label>
                    <div class="foto"><img src="../static/sources/wr/voin-sl.webp"></div>
                    
                    <input type="radio" name="slider2" id="slider2_2">
                    <label for="slider2_2"></label>
                    <div class="foto"><img src="../static/sources/wr/SolarFlair.jpg"></div>
                    
                    <input type="radio" name="slider2" id="slider2_3">
                    <label for="slider2_3"></label>
                    <div class="foto"><img src="../static/sources/art3.png"></div>
                </div>
            </sl>
        
        </slider>
        
        <about>
            <div class ="klass">
                <div class="content1">
                    <div class="discr">
                        <img src="../static/sources/wr/voin.png">
                        <p><strong>Воин (warrior)</strong> - это класс использующий оружие ближнего боя ,а именно мечи, оружие на цепи, копья и подобное. 
                            Для игры за воина важно иметь большой показатель защиты
                        и ХП. У этого класса стабильный показатель урона, главная его роль в мультиплеере - это отвлечение врагов на себя для защиты более слабых классов.</p>
                    </div>
    
                    <h2>В арсенал воина входят</h2>
    
                    <table>
                        <tr><td><img src="../static/sources/wr/Terra_Blade.webp"></td><td>Мечи</td></tr> 
                        <tr><td><img src="../static/sources/wr/Chlorophyte_Partisan.webp"></td><td>Копья</td></tr>
                        <tr><td><img src="../static/sources/wr/Flower_Pow.webp"></td><td>Оружие на цепи</td></tr>
                        <tr><td><img src="../static/sources/wr/Gladius.webp"></td><td>Кинжалы</td></tr>
                        <tr><td><img src="../static/sources/wr/Enchanted_Boomerang.webp"></td><td>Бумернаги</td></tr>
                        <tr><td><img src="../static/sources/wr/Gradient.webp"></td><td>Йо-йо</td></tr>
                        <tr><td><img src="../static/sources/wr/Jousting_Lance.webp"></td><td>Турнирные копья</td></tr> 
                    </table>
    
                    <div class="content_kl">
                        <p><strong>Лучшим модификатором</strong> на оружие для воина является - 
                            <span class="colortext">легендарный </span>(атака +15%, скорость +10%, шанс крит. удара +5%, размер +10%, отбрасывание +15%).
                            <br><strong>Лучшим оружием: </strong> 
                            <br><img src="../static/sources/wr/Zenith.webp">Зенит (Zenith)
                            <br><img src="../static/sources/wr/Meowmere.webp">Мяумур (Meowmere)
                            <br><img src="../static/sources/wr/Terrarian.webp"> Террариан (Terrarian)
                            <br><img src="../static/sources/wr/Star_Wrath.webp"> Звёздный гнев (Star Wrath)
                            <div class="armor"><strong>Лучшей броней: </strong> <img src="../static/sources/wr/sol.webp">броня солнечной вспышки</div>
                        </p>
                    </div>
                </div>

                <div class="content2">
                    <h1>Основные артефакты для воина </h1>

                    <table>
                        <tr><td>Изображение</td><td>Название</td><td>Эффекты</td></tr>
                        <tr>
                            <td><img src ="../static/sources/wr/artef/Berserkers_Glove.webp"></td><td><p>Перчатки берсерка</p></td>
                            <td>
                                <ul>
                                    <li>Увеличивает защиту на 8</li>
                                    <li>Увеличивает скорость ближнего боя на 12%</li>
                                    <li>Позволяет атаковать автоматически оружием ближнего боя и хлыстами</li>
                                    <li>Удваивает отбрасывание ближнего боя</li>
                                    <li>Увеличивает размер всего оружия ближнего боя на 10%</li>
                                </ul>
                            </td>
                        </tr> 
                        <tr>
                            <td><img src ="../static/sources/wr/artef/Celestial_Shell.webp"></td><td><p>Небесная ракушка</p></td>
                            <td>
                                <ul>
                                    <li>+10% к скорости ближнего боя</li>
                                    <li>+10% ко всем видам урона</li>
                                    <li>+2% к шансу критического удара</li>
                                    <li>+4 ед. к защите</li>
                                    <li>+15% к скорости добычи</li>
                                    <li>+0.5 к отбрасыванию последователей</li>
                                    <li>Нельзя утонуть в воде</li>
                                    <li>Передвижение в воде не замедляется</li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td><img src ="../static/sources/wr/artef/Ankh_Shield.webp"></td><td><p>Щит анха</p></td>
                            <td>
                                <ul>
                                    <li>Увеличивает защиту на 4</li>
                                    <li>Даёт иммунитет к дебафу «Горение», накладываемый при контакте с метеоритом или адским камнем</li>
                                    <li>Даёт иммунитет к следующим дебафам: «Отравлен», «Мрак», «Проклят», «Кровотечение», «В замешательстве», «Медлительность», 
                                        «Слабость», «Безмолвие», «Расколотая броня», «Переохлаждение», «Окаменение»</li>
                                    <li>Даёт иммунитет к отбрасыванию</li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td><img src ="../static/sources/wr/artef/Warrior_Emblem.webp"></td><td><p>Эмблема воина</p></td>
                            <td>
                                <ul>
                                    <li>При экипировке увеличивается урон, наносимый оружием ближнего боя на 15%.</li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td><img src ="../static/sources/wr/artef/Eye_of_the_Golem.webp"></td><td><p>Глаз голема</p></td>
                            <td>
                                <ul>
                                    <li>При экипировке увеличивается урон, наносимый оружием ближнего боя на 15%.</li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td><img src ="../static/sources/wr/artef/Avenger_Emblem.webp"></td><td><p>Эмблема мстителя</p></td>
                            <td>
                                <ul>
                                    <li>При экипировке увеличивает урон от любого типа оружия на 12%.</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="rd"><h1>Полезные зелья и баффы</h1></div>
                
                <div class="content3">
                    <div class="left">
                        <table>
                            <tr><td><img src="../static/sources/wr/buffs/Rage_Potion.webp"></td><td>Зелье ярости – увеличивает шанс крит. удара на 10%.</td></tr>
                            <tr><td><img src="../static/sources/wr/buffs/Wrath_Potion.webp"></td><td>Зелье гнева – увеличивает наносимый урон на 10%.</td></tr>
                            <tr><td><img src="../static/sources/wr/buffs/Ironskin_Potion.webp"></td><td>Зелье железной кожи – увеличивает защиту на 8 ед.</td></tr>
                            <tr><td><img src="../static/sources/wr/buffs/Regeneration_Potion.webp"></td><td>Зелье регенерации – ускоряет регенерацию здоровья.</td></tr>
                            <tr><td><img src="../static/sources/wr/buffs/Endurance_Potion.webp"></td><td>Зелье выносливости – уменьшает получаемый урон на 10%.</td></tr>
                            <tr><td><img src="../static/sources/wr/buffs/Lifeforce_Potion.webp"></td><td>Зелье жизненной силы – увеличивает максимальный запас здоровья на 20%.</td></tr>
                            <tr><td><img src="../static/sources/wr/buffs/Thorns_Potion.webp"></td><td>Зелье шипов – наносит 100% урона от атаки противника врагам, которые
                                вступают в контакт с игроком.</td>
                            </tr>
                        </table>
                    </div>
                    <div class="right">
                        <ul>
                            <li>
                                <img src="../static/sources/wr/buffs/Sharpening_Station.webp">Точильный камень – увеличивает бронепробиваемость для оружия 
                                ближнего боя на 12 ед. до момента смерти игрока.
                            </li>
                            <li>
                                <br><img src="../static/sources/wr/buffs/food.webp">Сытость – +2/+3/+4 ед. защиты; +2/+3/+4% к шансу критического удара; 
                                +5/+7,5/+10% к скорости атаки в ближнем бою; +5/+7,5/+10% к урону персонажа; +20/+30/+40% к скорости передвижения.
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </about>


        <footer>
            <div class="footer">
                <p>© 2024 Плотников Кирилл Владимирович</p>
            </div>
        </footer>

    </body>

</html>
